/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust height considering the navbar height */
}

.left-half, .right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.left-half {
  margin: 5vh;
  height: 50vh;
}

.right-half {
  background-image: url('../Images/message_template.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 90%;
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto;
  font-family: cursive;
  font-size: 20px;
  padding: 5vw;
  line-height: 1.5;
  border-radius: 5%;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .home-container {
      flex-direction: row;
  }

  .right-half {
      height: 50vh;
      width: 50vw;
      margin-top: 12vh;
      margin-right: 5vw;
  }
}

@media (max-width: 480px) {
  .right-half {
      font-size: 16px;
      padding: 3vw;
  }

  .image-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
}
